# ***Intro a Colab***

1er. Manera de acceder a los datos : A través de tus documentos

In [ ]:
# Importar librería de pandas
import pandas as pd

In [ ]:
df = pd.read_csv('sample_data/Eval_maestros.csv')
df.head()

,ID,age,gender,credits,beauty,eval,students,allstudents,prof,female,single_credit,upper_division,English_speaker,tenured_prof
0,1,36,female,more,0.289916,4.3,24,43,1,1,0,1,1,1
1,2,36,female,more,0.289916,3.7,86,125,1,1,0,1,1,1
2,3,36,female,more,0.289916,3.6,76,125,1,1,0,1,1,1
3,4,36,female,more,0.289916,4.4,77,123,1,1,0,1,1,1
4,5,59,male,more,-0.737732,4.5,17,20,2,0,0,1,1,1

2da. A través de “Google Drive”: En el tercer ícono aceptar la conexión.

In [ ]:
df_2 = pd.read_csv('/content/drive/MyDrive/BD_GoogleColab_Ex/Eval_maestros.csv')
df_2.head()

,ID,age,gender,credits,beauty,eval,students,allstudents,prof,female,single_credit,upper_division,English_speaker,tenured_prof
0,1,36,female,more,0.289916,4.3,24,43,1,1,0,1,1,1
1,2,36,female,more,0.289916,3.7,86,125,1,1,0,1,1,1
2,3,36,female,more,0.289916,3.6,76,125,1,1,0,1,1,1
3,4,36,female,more,0.289916,4.4,77,123,1,1,0,1,1,1
4,5,59,male,more,-0.737732,4.5,17,20,2,0,0,1,1,1

Algunas otras funcionalidades:


*   Descargar la notebook
*   Compartir el link para que otros más puedan editarla.